body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

body h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.card {
  flex-basis: 400px;
  margin: 20px;
  padding: 50px;
  background-color: #434343;
  border-radius: 0px 50px 0px 50px;
}

.card h2 {
  background: linear-gradient(to left top, #5c5c5c, #8f8f8f, #ededed);
  padding: 5px;
  border-radius: 0px 50px 0px 50px;
  margin-bottom: 10px;
}

.card p {
  color: white;
  font-size: 20px;
}

/*.card a {
  display: inline-block;
  margin-top: 10px;
}*/

.mail1 {
    display: inline-block;
    margin-top: 10px;
}

.FB {
    padding: auto;
    text-decoration: none;
    color: #fd5163;
}

.FB:hover{
    text-decoration: underline;
}

/*.card img {
  height: 80px;
  width: auto;
  cursor: pointer;
}*/

.mail {
    height: 80px;
    width: auto;
    cursor: pointer;
}

.prof {
    height: 180px;
    width: auto;
    cursor: pointer;
    border-radius: 50%;
}


@media only screen and (max-width: 768px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
  }

  .card {
      flex-basis: content;
      margin: 20px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      background-color: #434343;
      border-radius: 0px 50px 0px 50px;
      text-align: center;
  }

  .card p {
      color: #ffffff;
      flex-basis: content;
      font-size: 20px;
      text-align: left;
      position: static;
      flex-grow: 3;
    }


  .prof {
    height: 200px;
    width: auto;
    cursor: pointer;
    border-radius: 50%;
    flex-grow: 1;
}

  .mail {
    height: 80px;
    flex-grow: 4;
    width: auto;
    cursor: pointer;
  }

  .card h2 {
    background: linear-gradient(to left top, #5c5c5c, #8f8f8f, #ededed);
    padding: 5px;
    border-radius: 0px 50px 0px 50px;
    text-align: center;
    flex-grow: 2;
    margin-bottom: 10px;
  }
  
}
